<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">NewsCast.fm</a>
			<nav>
				<ul>
				<% unless newscast_signed_in? %>
					<li><a href="#">Explore</a></li>
					<li><%= link_to "Sign In", new_newscast_session_path  %></li>
					<li><%= link_to "Cast Something", new_newscast_registration_path %></li>
				<% else %>
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Explore</a></li>
					<li><%= link_to "Sign Out", destroy_newscast_session_path, method: :delete %></li>
				<% end %>
				</ul>
			</nav>
		</div><!-- end wrapper -->
	</header>
	<div class="wrapper_skinny">
		<h1>Stay Informed </br> Keep up with local happenings </br> from local casters</h1>
		<%= link_to "Cast Something", new_newscast_registration_path, class: "button button_highlight" %>
		<a href="#" class="button button_white">Explore</a>
	</div><!-- end wrapper_skinny -->
</div>