<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">NewsCast.fm</a>
			<nav>
				<ul>
					<li><a href="#">Explore</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Cast Something</a></li>
				</ul>
			</nav>
		</div><!-- end wrapper -->
	</header>
	<div class="wrapper_skinny">
		<h1>Stay Informed </br> Keep up with local happenings </br> from local casters</h1>
		<a href="#" class="button button_highlight">Cast something</a>
		<a href="#" class="button button_white">Explore</a>
	</div><!-- end wrapper_skinny -->
</div>